/**********************Tag Selectors**********************/
body {
    background-color: white;
    margin: 0;
}

h1 {
    margin-top: 0;
}

div {
    background-color: #DBE2EF;
}




/**********************Class Selectors**********************/

.city {
    margin: 20px;
    width: 50% ;
}


/**********************ID Selectors**********************/